body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-left: 50%;
    padding: 20px;
    background-color: #f7f7f7;
    background-image: url('stars-13910.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
  } 
img{
    position: 100%;
}
  
  h1 {
    margin: 10px;
    font-size: 3.5rem;
    margin-right: 4%;
    color: #ffffff;
    background-color: red;
    border-radius: 100px;
    padding: 5px;
    width: 30%;
    margin-left: 500px;
  }
  
  .game-container {
    display: inline-block;
    margin-top: 20px;
  }
  
  #board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px auto;
  }
  .cell {
    width: 100px;
    height: 100px;
    background-color: #fffbfb;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .cell.taken {
    pointer-events: none;
  }
  
  .controls {
    margin: 15px;
  }
  
  button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10%;
    cursor: pointer;
  }
  
  #box1 {
    background-color: red;
  }
  
  #box2 {
    background-color: green;
  }
  
  #box3 {
    background-color: blue;
  }
  #message {
    font-weight: bolder;
    margin-top: 10px;
    font-size: 2.5rem;
    color: #4B0082;
    background-color: #32CD32;
    font-family: 'Times New Roman', Times, serif;
  }