@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{
  display: none;
}

body {
  background: #000; 
  min-height: 200vh; 
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 40px 100px;
  justify-content: space-between;
  transition: 0.5s;
  z-index: 10000;
}
nav ul {
  left: 15%;
}

header.sticky {
  padding: 0.00001% 100px;
  background-color: rgba(248, 249, 249, 0.7)
  
}


header .VK {
  position: relative;
  color: #fff;
  right: 2%;
  font-size: 3em;
  font-weight:700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
}

header.sticky .VK {
  color: #000;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  font-size: 22px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.5s;
}
header.sticky .VK
header.sticky ul li a {
  color: #000;
}

.banner {
  position:relative;
  margin-top: 0%;
  width: 90%;
  height: 150vh;
  background: url('bg3.jpg') no-repeat center;
  background-size: cover;

}

img{
  position:relative;
  margin-top: 0%;
  width: 95%;
  position: center;
}


.hero{
  display:flex;
  margin-top: -10vh;
  justify-content: center;

}
 h1{
  color: red;
  font-size: 3rem;
  margin: 0 auto;
  position: relative;
  text-align: center;
  background-color: yellow;
  border-radius: 100px;
  padding: 10px 0;
  width: 25%;
  margin-left: 550px;
  margin-top: -15vh;
  
 }
 h2{
  color: #1f11bc;
  font-size: 5rem;
  position: relative;
  text-align: center;
  margin-top: 30vh;
  margin-bottom: 50px;
 }
p{
  color: #10a106;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  margin-top: 5vh;
}
div{
  margin-top: 5vh;
  text-align: justify;
  margin: 20px;
}
  

